# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Secrets
env.py

# Django
staticfiles/
*.sqlite3
db.sqlite3
media/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log

# Celery
celerybeat-schedule
celerybeat.pid

# Private keys
.keys/
